@use 'animations' as animations;

@include animations.pulse;

.placeholder {
  display: block;
  background-color: var(--color-surface-disabled);
  animation: pulse 1.1s var(--easing-standard) infinite alternate;
}
