@use 'breakpoints' as bp;

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-inline: 1rem;

  @include bp.from('md') {
    padding-inline: 2.5rem;
  }

  @include bp.from('lg') {
    padding-inline: 6.25rem;
  }
}
