@use 'breakpoints' as bp;

.main {
  padding-bottom: 1.5rem;
  padding-inline: 1rem;

  @include bp.from('md') {
    padding-bottom: 3rem;
    padding-inline: 2.5rem;
  }

  @include bp.from('lg') {
    padding-inline: 6.25rem;
  }
}
