@use 'breakpoints' as bp;

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  background-color: var(--color-background);
  animation: fade-in var(--duration-base) var(--easing-standard) both;

  @include bp.from('md') {
    padding-inline: 2.5rem;
  }

  @include bp.from('lg') {
    padding-inline: 6.25rem;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-2xs);
  color: var(--color-text);
}

.logo {
  height: auto;
}

.count {
  font-size: var(--font-size-sm);
  line-height: 1;
}
