@use 'breakpoints' as bp;

.carousel {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  --thumb-width: 6.25rem;

  @include bp.from('lg') {
    --thumb-width: 9.375rem;
  }
}

.track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  > * {
    scroll-snap-align: start;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include bp.from('lg') {
    margin-inline: calc(50% - 50vw);
    padding-inline: calc(50vw - 50%);
    scroll-snap-type: none;
  }
}

.bar {
  position: relative;
  height: 1px;
  background-color: var(--color-grey-400);
}

.thumb {
  position: absolute;
  top: 0;
  width: var(--thumb-width);
  height: 100%;
  background-color: var(--color-black);
}
