.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(21.5rem, 100%), 1fr));
  box-shadow: inset 0.5px 0.5px 0 var(--color-black);

  > li {
    border-right: 0.5px solid var(--color-black);
    border-bottom: 0.5px solid var(--color-black);
    cursor: pointer;
  }
}
